{% load static %}
<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">recommended items</h2>
    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                {% for product in recommended_products %}
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="{{product.image.url}}" alt="" />
                                <h2 style="margin-bottom: 10px;">₴{{product.price}}</h2>
                                <div style="margin-bottom: 10px;">
                                    <a href="{% url 'product-detail' product.id %}"
                                        style="font-size: 20px; margin-top: 0px; padding-top: 0px; color: #696763;">{{product.name}}</a>
                                </div>
                                <a href="{% url 'addCart' product.id %}" class="btn btn-default add-to-cart"><i></i>Add
                                    to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!--/recommended_items-->