{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block content %}
<section>
	<div class="container">
		<div class="row">
			{% include 'shop/include/left-sidebar.html' %}
			<div class="col-sm-9">
				<div class="blog-post-area">
					<h2 class="title text-center">Latest From our Blog</h2>
					{% for product in products %}
					<div class="single-blog-post">
						<h3>{{product.name}} arrived in store</h3>
						<div class="post-meta">
							<ul>
								<li><i class="fa fa-user"></i> {{product.user.username}}</li>
								<li><i class="fa fa-clock-o"></i> {{product.added|time}}</li>
								<li><i class="fa fa-calendar"></i> {{product.added|date}}</li>
							</ul>
							<!-- <span>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-o"></i>
							</span> -->
						</div>
						<p>{{product.description}}</p>
						<a class="btn btn-primary" href="{% url 'product-detail' product.id %}">Read More</a>
					</div>
					{% endfor %}
					<!-- <div class="pagination-area">
						<ul class="pagination">
							<li><a href="" class="active">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
						</ul>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}