{% extends 'base.html' %}
{% load static %}
{% block title %}Contact us{% endblock title %}
{% block content %}
<div id="contact-page" class="container">
	<div class="bg">
		<!-- <div class="row">
			<div class="col-sm-12">
				<h2 class="title text-center">Contact <strong>Us</strong></h2>
				<div id="gmap" class="contact-map">
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-sm-8">
				<div class="contact-form">
					<h2 class="title text-center">Get In Touch</h2>
					<div class="status alert alert-success" style="display: none"></div>
					<form id="main-contact-form" class="contact-form row" name="contact-form" method="POST" action="">
						{% csrf_token %}
						<div class="form-group col-md-6">
							<input required maxlength="300" type="text" name="name" class="form-control"
								value="{{request.user.username}}" readonly>
						</div>
						<div class="form-group col-md-6">
							<input required type="email" name="email" class="form-control"
								value="{{request.user.email}}" readonly>
						</div>
						<div class="form-group col-md-12">
							<input required maxlength="200" type="text" name="subject" class="form-control"
								placeholder="Subject">
						</div>
						<div class="form-group col-md-12">
							<textarea required name="body" id="message" class="form-control" rows="8"
								placeholder="Your Message Here"></textarea>
						</div>
						<div class="form-group col-md-12">
							<input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="contact-info">
					<h2 class="title text-center">Contact Info</h2>
					<address>
						<p>r0m1mPL-SHOP</p>
						<p>address</p>
						<p>Kiev Ukraine</p>
						<p>Mobile: phone</p>
						<p>Fax: fax</p>
						<p>Email: simachenko.roma@gmail.com</p>
					</address>
					<div class="social-networks">
						<h2 class="title text-center">Social Networking</h2>
						<ul class="nav navbar-nav">
							<li><a href="https://www.instagram.com/romasimachenko/" target="_blank" title="Instagram"><i
										class="fa fa-instagram"></i></a>
							</li>
							<li><a href="https://www.youtube.com/channel/UCTghSGYeyeiEUZ3qAQKnwDQ" target="_blank"
									title="Instagram"><i class="fa fa-youtube"></i></a></li>
							<li><a href="https://github.com/r0m1mPL" target="_blank" title="Instagram"><i
										class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/#contact-page-->
{% endblock content %}