{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
{% include 'shop/include/slider.html' %}
<section>
	<div class="container">
		by <a href="https://r0m1mpl.herokuapp.com/">Roma Simachenko</a><br>
		/admin<br>
		login: test_user<br>
		password: 1
		<hr>
		<div class="row">
			{% include 'shop/include/left-sidebar.html' %}
			<div class="col-sm-9 padding-right">
				<div class="col-sm">
					<ul class=" nav nav-tabs" style="border: 1px solid #F7F7F0;">
						{% for category in category_tab %}
						<li style="border: 1px solid #F7F7F0;"><a href="{% url 'shop' %}?q={{category.name}}"
								style="color: #696763; font-size: 20px;">{{category.name}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% include 'shop/include/features.html' %}
				{% if recommended_products %}
				{% include 'shop/include/recommended.html' %}
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock content %}