{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout | E-Shopper{% endblock title %}
{% block content %}
<section>
	<div class="container">
		<div class="row">
			{% include 'shop/include/left-sidebar.html' %}
			<div class="col-sm-9 padding-right">
				<div class="product-details">
					<!--product-details-->
					<div class="col-sm-5" style="padding-bottom: 40px;">
						<div class="view-product">
							<img src="{{product.image.url}}" alt="" />
							<!-- <h3>ZOOM</h3> -->
						</div>
						<div id="similar-product" class="carousel slide" data-ride="carousel">

							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
									<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
									<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
								</div>
								<div class="item">
									<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
									<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
									<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
								</div>
								<div class="item">
									<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
									<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
									<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
								</div>

							</div>

							<!-- Controls -->
							<a class="left item-control" href="#similar-product" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right item-control" href="#similar-product" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>

					</div>
					<div class="col-sm-7">
						<div class="product-information">
							<!--/product-information-->
							<img src="images/product-details/new.jpg" class="newarrival" alt="" />
							<h2 style="font-size: 32px;">{{product.name}}</h2>
							<p>Web ID: {{product.id}}</p>
							<img src="images/product-details/rating.png" alt="" />
							<span>
								<span>UAH ₴{{product.price}}</span>
								<!-- <label>Quantity:</label>
								<input type="text" value="1" /> -->
								<a href="{% url 'addCart' product.id %}">
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</a>
							</span>
							<p style="font-size: 16px;"><b>Category:</b> {{product.category.name}}</p>
							<p style="font-size: 16px;"><b>Availability:</b> {{product.avaible}}</p>
							<p style="font-size: 16px;"><b>Condition:</b> {{product.condition}}</p>
							<p style="font-size: 16px;"><b>Brand:</b> {{product.brand.name}}</p>
							<p style="font-size: 16px;"><b>Amount:</b> {{product.quantity}}</p>
							<a href=""><img src="images/product-details/share.png" class="share img-responsive"
									alt="" /></a>
						</div>
						<!--/product-information-->
					</div>
				</div>
				<!--/product-details-->
				<div class="category-tab shop-details-tab">
					<!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
							<!-- <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
							<li><a href="#tag" data-toggle="tab">Tag</a></li> -->
							<li><a href="#reviews" data-toggle="tab">Reviews ({{reviews.count}})</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="details">
							<p>
								{{product.description}}
							</p>
						</div>
						<div class="tab-pane fade" id="reviews">
							{% for review in reviews %}
							<div class="col-sm-12">
								<ul>
									<li><a><i class="fa fa-user"></i>{{review.user.username}}</a></li>
									<li><a><i class="fa fa-clock-o"></i>{{review.added|time}}</a></li>
									<li><a><i class="fa fa-calendar-o"></i>{{review.added|date}}</a></li>
									{% if request.user == review.user %}
									<li>
										<a class="cart_quantity_delete" href="{% url 'deleteReview' review.id %}"
											style="background-color: #FE980F; color: black"><i
												class="fa fa-times"></i>X</a>
									</li>
									{% endif %}
								</ul>
								<p>
									{{review.body}}
								</p>
								<hr>
								{% endfor %}
								<p style="font-size: 20px;"><b>Write Your Review</b></p>
								<form action="{% url 'addReview' product.id %}" method="POST">
									{% csrf_token %}
									<span>
										<input type="name" name="user" value="{{request.user.username}}" readonly />
										<input type="email" name="email" value="{{request.user.email}}" readonly />
									</span>
									<textarea name="body" placeholder="Review text..."></textarea>
									<!-- <b>Rating: </b> <img src="{% static 'img/product-details/rating.png' %}" alt="" /> -->
									<button type="submit" class="btn btn-default pull-right">
										Submit
									</button>
								</form>
							</div>
						</div>

					</div>
				</div>
				<!--/category-tab-->
				{% if recommended_products %}
				{% include 'shop/include/recommended.html' %}
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock content %}