{% extends 'base.html' %}
{% load static %}
{% block title %}Shop | E-Shopper{% endblock title %}
{% block content %}
<!-- <section id="advertisement">
	<div class="container">
		<img src="{% static 'img/shop/advertisement.jpg' %}" alt="" />
	</div>
</section> -->

<section>
	<div class="container">
		<div class="row">
			{% include 'shop/include/left-sidebar.html' %}
			<div class="col-sm-9 padding-right">
				{% include 'shop/include/features.html' %}
			</div>
		</div>
	</div>
</section>
{% endblock content %}